@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes text-color-change {
    0% {
        background-image: linear-gradient(to right, rgb(255, 13, 13), rgb(104, 97, 97));
        background-size: 200% auto;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%; 
    }
  }
  
.typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid white; /* Efek cursor */
    width: 0;

    animation: typing 3s steps(28, end) forwards ,  text-color-change 1s 3s forwards;
}